<!DOCTYPE html>
<html>
  <head>
    <title>ughumhergrughahhhhh</title>
  </head>

  <body>
    <h4>Nav Bar</h4>
    <p><a href="/owners/index">Owners</a>|<a href="/pets/index">Pets</a></p>
    <%= yield %>
  </body>
</html>
